* {
    box-sizing: border-box;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

main {
    background: #8338ec;
    height: 80vh;
    width: 80vh;
    z-index: 0;
}

.wrapper{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 10vh;
}

.sky{
    animation: animate-sky 4s ease-in-out infinite;
    background: #38b0de;
    border-radius: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media only screen and (max-width: 380px) {
    .sky{
        height: 90vw;
        width: 90vw;
    }
}

.sand{
    background: #c2b280;
    height: 100%;
    position: absolute;
    top: 60%;
    width: 100%;
}

.sun{
    animation: animate-sun 4s ease-in-out infinite;
    background: #f9d71c;
    border-radius: 50%;
    height: 20%;
    left: 50%;
    position: absolute;
    top: 0%;
    transform-origin: 0 400%;
    width: 20%;
}

@keyframes animate-sun {
    0%{
        transform: rotate(-60deg);
    }
    30%{
        transform: rotate(-28deg);
    }
    70%{
        transform: rotate(28deg);
    }
    100%{
        transform: rotate(60deg);
    }
}

@keyframes animate-sky {
    0%{
        background: #2093bf;
    }
    30%{
        background: #38b0de;
    }
    70%{
        background: #38b0de;
    }
    100%{
        background: #2093bf;
    }
}

.pyramid-left{
    animation: animate-pyramid 4s linear infinite;
    background: #fff;
    clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
    height: 40%;
    left: 10%;
    position: absolute;
    top: 20%;
    width: 80%;
}

.pyramid-right{
    animation: animate-pyramid 4s linear infinite reverse;
    background: #d9d9d9;
    clip-path: polygon(30% 100%, 100% 100%, 0% 0%);
    height: 40%;
    left: 50%;
    position: absolute;
    top: 20%;
    width: 40%;
}

@keyframes animate-pyramid {
    0%{
        background: #fff;
    }
    30%{
        background: #fff;
    }
    70%{
        background: #d9d9d9;
    }
    100%{
        background: #cccccc;
    }
}

.shadow{
    animation: animate-shadow 4s ease-in-out infinite;
    background: #00000030;
    clip-path: polygon(60% 0%, 100% 0%, 80% 100%);
    height: 20%;
    left: 10%;
    position: absolute;
    top: 60%;
    transform-origin: 50% 0%;
    width: 100%;
    z-index: 2;
}

@keyframes animate-shadow {
    0% {
	    transform: scaleY(0);
	    clip-path: polygon(0% 0%, 80% 0%, 100% 100%);
    }
	30% {
		transform: scaleY(1);
	    clip-path: polygon(0% 0%, 80% 0%, 80% 100%);
	}
	55% {
		transform: scaleY(0.4);
	}
	75% {
		transform: scaleY(1);
	}
    100% {
		transform: scaleY(0);
	    clip-path: polygon(0% 0%, 80% 0%, 0% 100%);
    }
}

.menu{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2vh 0;
}

.btn{
    border: 2px solid #0077b6;
    border-radius: 1vh;
    color: #0077b6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    margin: 0 1vh;
    padding: 1vh 2vh;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn-brand{
    background: #0077b6;
    color: #fff;
}

.btn:hover{
    box-shadow: 0 0 10px #00000060;
}