*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

h1{
    color: #8338ec;
    font-size: 8vh;
    font-family: monospace;
    font-weight: 300;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    h1{
        font-size: 4vh;
        text-align: center;
        width: 80%;
    }
}

.list{
    height: 60%;
    list-style-type: none;
    margin-top: 10vh;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .list{
        width: 90%;
    }
}

.list li{
    background-color: #8338ec;
    border-radius: 1vh;
    margin: 4vh auto;
    padding: 2vh 0;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .list li{
        width: 80%;
    }
}

.btn-home{
    color: white;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
    width: 100%;
}

.list li:hover{
    box-shadow: 0 0 10px #00000090;
}

.btn{
    border: 2px solid #0077b6;
    border-radius: 1vh;
    color: #0077b6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    margin: 0 1vh;
    padding: 1vh 2vh;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn-brand{
    background: #0077b6;
    color: #fff;
}

.btn:hover{
    box-shadow: 0 0 10px #00000060;
}